<div class="back_re">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="title">
                <!-- <h2>{{item?.name}}</h2> -->
             </div>
          </div>
       </div>
    </div>
 </div>

 <div class="about">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-5">
             <div class="titlepage mt-6">
                <table class="table table-bordered border-primary mt-6 mb-4">
                  
                      <tbody >
                        <tr>
                          <th scope="row">address</th>
                          <td>{{singleHotel?.address}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Description</th>
                          <td>{{singleHotel?.Description}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Rating</th>
                          <td>{{singleHotel?.rating}}</td>
                        </tr>
                        
                        
                      </tbody>
                  </table>
    
                <a class="read_more"> Show Rooms</a>
             </div>
          </div>
          <div class="col-md-7">
             <div class="about_img">
                <figure><img src="../../../assets/imgs/about.png" class="mt-5"></figure>
             </div>
          </div>
       </div>
    </div>
 </div>
