<div clas="container-lg" >
    <table class="table">
        <thead>
          <tr>
           
                <th scope="col">#Id</th>
                <th scope="col">Name</th>
                <th scope="col">City</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">description</th>
                <th scope="col">Rating</th>
                <th scope="col">Actions</th>
              
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{singleHotel?._id}}</th>
            <td>{{singleHotel?.name}}</td>
            <td>{{singleHotel?.city}}</td>
            <td>{{singleHotel?.phone}}</td>
            <td>{{singleHotel?.adress}}</td>
            <td>{{singleHotel?.description}}</td>
            <td>{{singleHotel?.rating}}</td>
        </tr>
        </tbody>
    </table>
</div>
