<div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary" routerLink="/allusers">Users</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/allhotels">Hotels</button>
  </div>
  
<div clas="container-lg" >
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#Id</th>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">description</th>
            <th scope="col">Rating</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of Hotels">
          <tr>
            <th scope="row">{{item._id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.city}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.address}}</td>
            <td>{{item.description}}</td>
            <td>{{item.rating}}</td>
            <td class = "d-flex justify-content-between ">
                <button class="btn btn-primary" routerLink="/hotels/single/{{item._id}}">Show</button>
                <button class="btn btn-warning">Edit</button>
                <button class="btn btn-danger ">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
