
    <section class="banner_main">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <img class="first-slide" src="../../../assets/imgs/banner3.jpg" alt="First slide">
            </div>
           
       <div class="booking_ocline">
          <div class="container">
             <div class="row">
                <div class="col-md-5">
                   <div class="book_room">
                      <h1>Book a Room Online</h1>
                      <form class="book_now">
                         <div class="row">
                            <div class="col-md-12">
                               <span>Arrival</span>
                               <input class="online_book" placeholder="dd/mm/yyyy" type="date" name="dd/mm/yyyy">
                            </div>
                            <div class="col-md-12">
                               <span>Check Out</span>
                               
                               <input class="online_book" placeholder="dd/mm/yyyy" type="date" name="dd/mm/yyyy">
                            </div>
                            <div class="col-md-12">
                               <button class="book_btn" routerLink="hotels">Book Now</button>
                            </div>
                         </div>
                      </form>
                   </div>
                </div>
             </div>
          </div>
       </div>

   